@font-face {
  font-family: "Lexend Exa";
  src: url("@/assets/fonts/LexendDecaRegular.ttf");
}

*{
  margin:0 auto;
}

.wrapper {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.gran {
    padding-top:25px;
    width: 690px;
    height: 625px;
    background: rgba(53, 53, 58, 0.8);
    border: 3px solid #FCF9F9;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;

}

.text-content {
    width: 432px;
    height: 62px;
}

.text-content h2 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 32px;
}

.text-section-two {
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: #FFFFFF;
}

.buttons {
    width:330px ;
    height:376px ;
    margin: 0 auto;
}

.buttons div button {
    width: 330px;
    height: 79px;
    background: #231F1F;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}

.buttons div {
    margin-bottom: 20px;
}

.active {
    margin-top: 50px;
}

.sliders {
    width: 330px;
    height: 10px;
    display: flex;
    margin-top: 25px;
}

.sliders div {
    width: 30px;
    height: 10px;
    margin-right: 20px;
}

.one {
    background: #C4C4C4;
    border-radius: 8px;
}

.two {
    background: #292424;
    border-radius: 8px;
}

footer {
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.text {
  width: 540px;
  margin: 0px auto;
  margin-top: 50px;
}

 .about {
    width: 380px;
    height: 160px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    color:white;
  }

a{
    color: #32a852;
}

/* hover */

.buttons div button:hover {
    background: #7287A7;
    transition: 0.5s;
}

@media screen and (max-width: 767px) {

  .text-content{
    width:405px;
  }

  .gran {
    width:100%;
    height: 615px;
    background: rgba(53, 53, 58, 0.8);
    border: 3px solid #fcf9f9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
  }

  .sliders{
    margin:75px auto;
  }

  .footer-text p {
  width: 300px;
  height: 88px;
  align-items: center;
  font-size: 12px;
  margin: 0 auto;
}

 .about {
    width: 380px;
    height: 111px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
}