@font-face {
  font-family: "Lexend Exa";
  src: url("@/assets/fonts/LexendDecaRegular.ttf");
}
*{
  margin:0 auto;
}

.wrapper {
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.gran {
  padding-top:15px;
  width: 690px;
  height: 555px;
  background: rgba(53, 53, 58, 0.8);
  border: 3px solid #fcf9f9;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
}

.text-content {
  width: 470px;
  height: 140px;
  margin-left: 110px;
  margin-right: 110px;
}

.text-content h2 {
  font-weight: 400;
  font-size: 32px;
}

.text-section-one {
  font-weight: 400;
  font-size: 20px;
  color: #9e9c9c;
  width: 470px;
  height: 40px;
}

.text-section-two {
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
}

.image-clock {
  background-image: url(../img/clock.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 39px;
  margin-top: 20px;
  margin-left: 0px;
}

button p {
  margin-top: 25px;
  margin-left: 5px;
}

.buttons {
  width: 450px;
  height: 180px;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
}

.active {
  display: flex;
}

.buttons div button {
  width: 214px;
  height: 79px;
  background: #231f1f;
  border: 1px solid #efefef;
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

.buttons div {
  margin-bottom: 20px;
}

.sliders {
  width: 330px;
  height: 10px;
  display: flex;
  margin-top: 75px;
}

.sliders div {
  width: 30px;
  height: 10px;
  margin-right: 20px;
}

.one {
  background: #c4c4c4;
  border-radius: 8px;
}

.two {
  background: #292424;
  border-radius: 8px;
}

/* hover */

.buttons div button:hover {
  background: #7287a7;
  transition: 0.5s;
}

footer {
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.text {
  width: 540px;
  margin: 0px auto;
  margin-top: 50px;
}

 .about {
    width: 380px;
    height: 160px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    color:white;
  }

/* hover */

.buttons div button:hover {
    background: #7287A7;
    transition: 0.5s;
}

@media screen and (max-width: 767px) {

  .header {
    margin-top: 40px;
    margin-right: 48px;
  }

  .text-content{
    width:395px;
  }

  .gran {
    width:100%;
    height: 475px;
    background: rgba(53, 53, 58, 0.8);
    border: 3px solid #fcf9f9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .text-section-one {
    text-align: center;
    width: 400px;
    height: 60px;
    margin: 15px auto;
  }

  .buttons {
    margin-top: 70px;
  }

.text-section-one{
  text-align: center;
  width:337px;
  height:60px;
  margin: 15px auto;
}

.buttons{
  width:400px;
  margin-top:70px;
}

.text-section-one{
  text-align: center;
  width:400px;
  height:60px;
  margin: 15px auto;
}

.buttons{
  margin-top:70px;
}

.buttons div button {
  width: 180px;
  font-size:16px;
}

  .left {
    margin-left: 15px;
  }
  .right {
    margin-right: 15px;
  }
  .text-content {
    margin: 0;
  }
  .sliders {
    margin: 35px auto;
  }

.text-content{
  margin:0;
}

}