@font-face {
  font-family: "Lexend Exa";
  src: url("@/assets/fonts/LexendDecaRegular.ttf");
}
* {
  margin: 0 auto;
}

.wrapper {
  background-image: url(../image/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  overflow-y: scroll;
  text-align: center;
  height: 100vh;
}


/*Контент*/
.test {
  margin-top: 100px;
  width: 690px;
  height: 675px;
  background: rgba(53, 53, 58, 0.8);
  border: 3px solid #fcf9f9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
}

.target {
  width: 165px;
  height: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 47px;
  margin-bottom: 20px;
}

.question {
  width: 536px;
  height: 40px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.response {
  margin-top: 56px;
}

.answer > div {
  width: 214px;
  height: 79px;
  background: #231f1f;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

footer {
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.text {
  width: 540px;
  margin: 0px auto;
  margin-top: 50px;
}

 .about {
    width: 380px;
    height: 160px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    color:white;
  }



.answer_1.active,
.answer_2.active,
.answer_3.active,
.answer_4.active,
.answer_5.active {
  transition: 0.5s;
  background: #7287a7;
}

.answer_1,
.answer_2,
.answer_3,
.answer_4,
.answer_5 {
  background: #7287a7;
  transition: 0.5s;
}

.answer_6.active {
  background: #7287a7;
  transition: 0.5s;
}

.answer_6 {
  background: #7287a7;
  transition: 0.5s;
}

.answer {
  height: 277px;
  width: 448px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
}

.ellipse {
  display: flex;
  height: 10px;
  width: 600px;
  margin-top: 46px;
}

.elliplse_1 {
  background: #c4c4c4;
  border-radius: 8px;
  height: 10px;
  width: 25px;
}

.elliplse_0 {
  background: #292424;
  border-radius: 8px;
  height: 10px;
  width: 25px;
}

.logo {
  font-family: "Lexend Exa";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  color: white;
  margin-top: 70px;
}

.logo1 {
  display: none;
}

.about {
  
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  height: 88px;
  width: 703px;
  margin-left: auto;
  margin-right: auto;
}

.continue {
  margin-top: 56px;
  width: 210px;
  height: 51px;
  background: #231f1f;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 30px;
  width: 197px;
  height: 51px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  pointer-events: none;
  user-select: none;
  transition-property: background;
  transition-duration: 0.5s;
}

.continue.active {
  transition-property: background;
  transition-duration: 0.5s;
  background: #7287a7;
  pointer-events: auto;
  cursor: pointer;
  color: #fff;
}

.continue:hover {
  background: #7287a7;
  transition: 0.5s;
}

@media screen and (max-width: 1080px) {
  .test {
    width:750px;
    height: 774px;
    background: rgba(53, 53, 58, 0.8);
    border: 3px solid #fcf9f9;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top:25px;
  }

  .target {
    width: 314.25px;
    height: 29.77px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-top: 54.36px;
  }

  .question {
    width: 489.55px;
    height: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-top: 31.06px;
  }

  .answer > div {
    height: 100px;
    width: 210px;
  }
  .answer {
    width: 440px;
    height: 340px;
  }

  .continue {
    width: 346px;
    height: 83px;
    background: #231f1f;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
  }

  .ellipse {
    margin-top: 43.52px;
  }

  .about {
    width: 734px;
    height: 111px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-top: 307px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-top: 40px;
    margin-right: 48px;
  }

  .response{
    display:flex;
    flex-direction: column;
  }

  .header__menu {
    position: absolute;
    right: 0;
    top: -400%;
    width: 840px;
    height: 1269px;
  }

  .header__link {
    
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: #ffffff;
  }

  .header__list li {
    margin-bottom: 119px;
    margin-top: 0px;
    margin-left: 107px;
  }

  .header__list {
    padding-top: 65px;
  }

  .test {
    width: 100%;
    height: 574px;
    margin-top: 25px;
    background: rgba(53, 53, 58, 0.8);
    border: 3px solid #fcf9f9;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
  }

  .target {
    width: 159px;
    height: 9px;
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 25px;
    color: #ffffff;
  }

  .question {
    width: 254px;
    height: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #ffffff;
    margin-top: 31px;
  }

  .answer > div {
    height: 100px;
    width: 150px;
    font-size: 16px;
    line-height: 15px;
  }

  .answer {
    height: 340px;
    width: 315px;
    display:flex;
    flex-direction: column;
  }
  .quantity {
    width: 103.86px;
    height: 54.52px;
    background: #231f1f;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 29.33px;
  }

  .quantity > input {
    height: 52px;
    width: 70px;
    margin-top: 0px;
    padding: 0 0 0 0;
    font-size: 30px;
    margin-left: 7px;
    text-align: center;
  }

  .quantity > h1 {
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    float: right;
    margin-bottom: 37px;
  }

  .header {
    margin-top: 40px;
    margin-right: 48px;
  }

  .header__menu {
    position: absolute;
    right: 0;
    top: -200%;
    width: 299.8px;
    height: 448px;
    background: #201a1a;
  }

  .header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }

  .header__list li {
    margin-bottom: 35px;
    margin-top: 0px;
    margin-left: 41px;
  }

  .header__list {
    padding-top: 35px;
  }

  .continue {
    width: 139.48px;
    height: 46px;
    background: #231f1f;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 30px;
    margin-top: 86.09px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-top: 14px;
  }

  .about {
    width: 350px;
    height: 111px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
    margin-top: 156px;
    display: block;
  }

  .ellipse {
    width: 330px;
    margin-top: 23.04px;
  }

  .elliplse_0,
  .elliplse_1 {
    height: 5.55px;
    width: 15px;
  }
}

@media (max-width: 500px) {
  .header {
    margin-top: 40px;
    margin-right: 48px;
  }

  .response{
    display:flex;
    flex-direction: column;
  }

  .header__menu {
    position: absolute;
    right: 0;
    top: -400%;
    width: 840px;
    height: 1269px;
  }

  .header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: #ffffff;
  }

  .header__list li {
    margin-bottom: 119px;
    margin-top: 0px;
    margin-left: 107px;
  }

  .header__list {
    padding-top: 65px;
  }

  .test {
    width: 100%;
    height: 574px;
    margin-top: 25px;
    background: rgba(53, 53, 58, 0.8);
    border: 3px solid #fcf9f9;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
  }

  .target {
    width: 159px;
    height: 9px;
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 25px;
    color: #ffffff;
  }

  .question {
    width: 254px;
    height: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #ffffff;
    margin-top: 31px;
  }

  .answer > div {
    height: 80px;
    width: 140px;
    font-size: 15px;
    line-height: 15px;
  }

  .answer {
    height: 280px;
    width: 300px;
    display:flex;
    flex-direction: column;
  }
  
  .quantity {
    width: 103.86px;
    height: 54.52px;
    background: #231f1f;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 29.33px;
  }

  .quantity > input {
    height: 52px;
    width: 70px;
    margin-top: 0px;
    padding: 0 0 0 0;
    font-size: 30px;
    margin-left: 7px;
    text-align: center;
  }

  .quantity > h1 {
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    float: right;
    margin-bottom: 37px;
  }

  .header {
    margin-top: 40px;
    margin-right: 48px;
  }

  .header__menu {
    position: absolute;
    right: 0;
    top: -200%;
    width: 299.8px;
    height: 448px;
    background: #201a1a;
  }

  .header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }

  .header__list li {
    margin-bottom: 35px;
    margin-top: 0px;
    margin-left: 41px;
  }

  .header__list {
    padding-top: 35px;
  }

  .continue {
    width: 120.48px;
    height: 40px;
    background: #231f1f;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
  }

  .about {
    width: 350px;
    height: 111px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
    margin-top: 156px;
    display: block;
  }

  .ellipse {
    width: 340px;
    margin-top: 55.04px;
  }

  .elliplse_0,
  .elliplse_1 {
    height: 5.55px;
    width: 15px;
  }
}
@media (max-width: 420px) {
  .header {
    margin-top: 40px;
    margin-right: 48px;
  }

  .response{
    display:flex;
    flex-direction: column;
  }

  .header__menu {
    position: absolute;
    right: 0;
    top: -400%;
    width: 840px;
    height: 1269px;
  }

  .header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: #ffffff;
  }

  .header__list li {
    margin-bottom: 119px;
    margin-top: 0px;
    margin-left: 107px;
  }

  .header__list {
    padding-top: 65px;
  }

  .test {
    width: 100%;
    height: 574px;
    margin-top: 25px;
    background: rgba(53, 53, 58, 0.8);
    border: 3px solid #fcf9f9;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
  }

  .target {
    width: 159px;
    height: 9px;
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 25px;
    color: #ffffff;
  }

  .question {
    width: 254px;
    height: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #ffffff;
    margin-top: 31px;
  }

  .answer > div {
    height: 70px;
    width: 140px;
    font-size: 15px;
    line-height: 15px;
  }

  .answer {
    height: 255px;
    width: 285px;
    display:flex;
    flex-direction: column;
  }
  
  .quantity {
    width: 103.86px;
    height: 54.52px;
    background: #231f1f;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 29.33px;
  }

  .quantity > input {
    height: 52px;
    width: 70px;
    margin-top: 0px;
    padding: 0 0 0 0;
    font-size: 30px;
    margin-left: 7px;
    text-align: center;
  }

  .quantity > h1 {
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    float: right;
    margin-bottom: 37px;
  }

  .header {
    margin-top: 40px;
    margin-right: 48px;
  }

  .header__menu {
    position: absolute;
    right: 0;
    top: -200%;
    width: 299.8px;
    height: 448px;
    background: #201a1a;
  }

  .header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }

  .header__list li {
    margin-bottom: 35px;
    margin-top: 0px;
    margin-left: 41px;
  }

  .header__list {
    padding-top: 35px;
  }

  .continue {
    width: 120.48px;
    height: 40px;
    background: #231f1f;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
  }

  .about {
    width: 350px;
    height: 111px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
    margin-top: 156px;
    display: block;
  }

  .ellipse {
    width: 300px;
    margin-top: 55.04px;
  }

  .elliplse_0,
  .elliplse_1 {
    height: 5.55px;
    width: 15px;
  }
}