.wrapper {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;
    padding-top: 50px;
}


  .admin_error {
     
    font-size: 60px;
    width: 100%;
    align-items: center;
    height: 80%;
    display: flex;
    justify-content: center;
    
}