* {
    padding: 0;
    margin: 0;
    border: 0;
}
/* burger */
.header {
    float: right;
    margin-right: 255px;
    margin-top: 50px;
}

.header__list {
    display: flex;
    padding: 0px;
}

.header__list li {
    list-style: none;
    margin: 30px 0px 0px 66px;
    text-align: left;
}

.header__link {
    font-family: 'Lexend Exa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__body {
    height: 10px;
}


.header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
}

.header__burger span {
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    top: 9px;
    margin-top: 4px;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
}

.header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
}

.header__burger:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
}

.header__burger:before {
    top: 0;
}

.header__burger:after {
    bottom: 0;
}
.header__burger.active span {
    left: 230px;
    transition: 0.5s;
}
.header__burger.active:before {
    transform: rotate(45deg);
    top: 7px;
    width: 20px;
    left: 255px;
    transition: 0.5s;
}

.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 7px;
    width: 20px;
    transition: 0.5s;
    left: 255px;
}

.header__menu {
    position: absolute;
    top: -100%;
    right: 0;
    width: 315px;
    height: 452px;
    background-color: #231F1F;
    transition: all 0.5s ease 0s;
    border-radius: 0px 0px 0px 10px;
}

.header__menu.active {
    top: 0;
}

.header__list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.header__list li {
    margin-bottom: 15px;
    margin-left: 80px;

}

@font-face {
    font-family: "Lexend Exa";
    src: url(../fonts/LexendDecaRegular.ttf);
}

.wrapper {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    overflow-x: hidden;
    margin: 0 auto;
    height: 120vh;
    background-position: center center;
}

.wrapper::-webkit-scrollbar{
    display: none;
}

.img div {
    margin: 0 auto;
    z-index: 0;
    margin-top: 120px;

}

.logo {
    margin-left: 20px;

    display: flex;
    position: absolute;
}

.logo a {
    font-size: 64px;
    margin-top: 0px;
    font-family: "Lexend Exa";
    color: #fff;
}

/* Images ======================*/
.img1 {
    background-image: url(../images/polit/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img2 {
    background-image: url(../images/polit/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img3 {
    background-image: url(../images/polit/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img4 {
    background-image: url(../images/polit/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img5 {
    background-image: url(../images/polit/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img6 {
    background-image: url(../images/polit/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img7 {
    background-image: url(../images/polit/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img8 {
    background-image: url(../images/polit/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img9 {
    background-image: url(../images/polit/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img10 {
    background-image: url(../images/polit/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img11 {
    background-image: url(../images/polit/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}