* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ================== */
@font-face {
    font-family: "Lexend Exa";
    src: url(../fonts/LexendDecaRegular.ttf);
}

.wrapper {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    padding-top: 20px;
    overflow-x: hidden;
    margin: 0 auto;
    height: 120vh;
    background-position: center center;
    
   
}

.wrapper::-webkit-scrollbar{
    display: none;
}






section div {
    margin: 0 auto;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    margin-left: 250px;
    display: flex;
}

.logo a {
    font-size: 64px;
    margin-top: 0px;
    font-family: "Lexend Exa";
    color: #fff;
}

/* Images ======================*/
.img1 {
    background-image: url(../images/polit/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img2 {
    background-image: url(../images/polit/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img3 {
    background-image: url(../images/polit/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img4 {
    background-image: url(../images/polit/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img5 {
    background-image: url(../images/polit/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img6 {
    background-image: url(../images/polit/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img7 {
    background-image: url(../images/polit/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img8 {
    background-image: url(../images/polit/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img9 {
    background-image: url(../images/polit/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img10 {
    background-image: url(../images/polit/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}

.img11 {
    background-image: url(../images/polit/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1653px;
    height: 2339px;
}