*{
  margin: 0 auto;
  font-family: 'Lexend Exa';
}

@font-face {
  font-family: "Lexend Exa";
  src: url("../fonts/LexendDecaRegular.ttf");
}

.wrapper{
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  text-align: center;
  width: 100%;
}
.gran {
  width: 690px;
  height: 675px;
  background: rgba(53, 53, 58, 0.8);
  border: 3px solid #fcf9f9;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  padding-top: 25px;
  color: white;
}

.text-content {
  width: 432px;
  height: 62px;
  margin: 0 auto;
}

.text-content h2 {
  font-weight: 400;
  font-size: 32px;
}

.text-section-two {
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
}

.left {
    margin-right: 30px;
}

input {
    width: 210px;
    height: 51px;
    background: #231F1F;
    border: 1px solid #EFEFEF;
    border-radius: 30px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.buttons {
  width: 330px;
  height: 376px;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
}

.buttons input {
    display: block;
}

.buttons div button {
  width: 150px;
  height: 79px;
  background: #231f1f;
  border: 1px solid #efefef;
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

.buttons div {
  margin-bottom: 20px;
}

.active {
  margin-top: 50px;
}

.sliders {
  width: 330px;
  height: 10px;
  display: flex;
  margin-top: 50px;
  margin-left: 180px;
  margin-right: 180px;
}

.sliders div {
  width: 30px;
  height: 10px;
  margin-right: 20px;
}

.one {
  background: #c4c4c4;
  border-radius: 8px;
}

.two {
  background: #292424;
  border-radius: 8px;
}

.footer-text h1 {
  font-weight: 400;
  font-size: 64px;
  font-family: "Lexend Exa";
}

.footer-text p {
  width: 540px;
  height: 88px;
  align-items: center;
  font-size: 15px;
  margin: 0 auto;
}

/* hover */

.buttons div button:hover {
  background: #7287a7;
  transition: 0.5s;
}

 .about {
  margin-top: 50px;
  width: 380px;
  height: 160px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color:white;
  }

@media screen and (max-width: 767px){
.gran {
  padding-top:25px;
  width: 100%;
  height: 675px;
  background: rgba(53, 53, 58, 0.8);
  border: 3px solid #fcf9f9;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  align-items:center;
}

.text-content{
  width:100%;
}
.sliders{
  margin-top:45px;
}

}
</style>